* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', serif;
    font-size: 14px;
}

body {
   
    max-width: 1440px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.title {
    font-family: Open Sans; 
    font-style: normal;
    font-weight: 700;
    color: #48555B;
    
}

.subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    color: #48555B;
}

.seporator::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
}

header {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo_white {
    text-align: center;
    padding-top: 41px;
}

.name_title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.2rem;
    line-height: 5rem;
    color: white;
    padding-top: 318px;
}

.name_subtitle {
    text-align: center;
    font-family: Open Sans;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3rem;
    letter-spacing: 0px;
    color: white;
    padding-bottom: 221px;
}

.scroll {
    text-align: center;
    font-family: Open Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1rem;
    letter-spacing: 3.7px;
    color: white;
    padding-bottom: 71px;
}

.navigation {
    padding: 25px 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
}

ul.nav_list li {
    display: inline;
    margin-right: 40px;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1rem;
    letter-spacing: 1.09px;
    color: #48555B;
}

ul.nav_list li:last-child {
    margin-right: 0;
}

ul.nav_list li:hover {
    color: #00A4E5;
} 

.our_story {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 57px;
}

.our_story-content {
    position: relative;
}

.our_story-title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    letter-spacing: 2.3px;
    text-align: center;
    padding-bottom: 10px;
}

.our_story-seporator::after {
    left: calc(50% - 25px);
}

.our_story-wrapper {
    display: flex;
    justify-content: space-between;
}

.presintation_title {
    font-size: 1.4rem;
    line-height: 27px;
    letter-spacing: 0.18px;
    padding-bottom: 30px;
}

.presintation_subtitle {
    line-height: 23px;
    letter-spacing: 0.18px;
    font-size: 0.9rem;
}

span {
    color: #00A4E5;
}

.our_story-cards {
    display: flex;
    justify-content: space-between;
    width: 50%; 
    padding-top: 23px;
}

.our_story-presentation {
    width: 45%;
}

.cards_plan,
.cards_manage,
.cards_build {
    position: relative;
}

.title_cards {
    position: absolute;
    font-family: Open Sans;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.18px;
    text-align: left;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
}

.our_story-presentation {
    width: 45%;
}

.our_story-wrapper {
    padding-top: 80px;
}

@media screen and (max-width: 1365px) {
    .our_story-wrapper {
        flex-direction: column;
    }

    .our_story-presentation {
        width: 100%;
        text-align: center;
    }

    .our_story-cards {
        width: 100%;
        justify-content: center;
    }

    .cards_manage {
        padding-left: 10px;
        padding-right: 10px;
    } 
}

.capabilities {
    padding: 120px 250px 78px 250px;
}

.capabilities_block {
    display: flex;
    justify-content: space-between;
}

.capabilities_text {
    width: 405px;
}

.capabilities-title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    letter-spacing: 2.3px;
}  

.capabilities_subtitle {
    font-family: Open Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 40px;
}

.btn:hover {
    background-color: #113d53;
    transition: .5s;
}

.card {
    padding-right: 250px;
    padding-left: 250px; 
}

.card_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_title-text {
    font-size: 1.1rem;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.card_title {
    padding-top: 25px;
    padding-bottom: 13px;
}

.card_subtitle {  
font-size: 0.8rem;
line-height: 23px;
letter-spacing: 0.18px;
}

.card_container {
    border: 1px solid #E6E6E6;
    padding:38px 23px 38px 23px;
}

.card_wrapper {
    padding-bottom: 115px;
}

.background-color {
    background-image: url(./img/bg\ \(3\).jpg);
}

.background_title-text {
    font-size: 2.1rem;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 35px;  
}

.backgroun_button {
    margin: auto;
}

.backgroun_content {
    padding-bottom: 231px;
}

.footer_top {
    background-color: #171819;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.subscription_registration {
    font-family: Open Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.84px;
    color: white;
    padding-right: 70px;
}

.subscription_input input {
    width: 250px;
    height: 40px;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.07px;
    outline: none;
    color: #48555B;
    padding-left: 15px;

}

.center {
    padding-left: 250px;
    padding-right: 250px;
    background-color: #141A20;
    position: relative;
    
}

.center::after {
    background-color:rgba(0, 0, 0, .3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.center_wrapper {
    display: flex;
    justify-content: space-between;
}

.about-company_title {  
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.84px;
    color: white;
}

.about-company {
    padding-top: 42px;
    padding-bottom: 50px;
}

.contact_us {
    padding-top: 42px;
    padding-bottom: 15px;
}

.company_title {
    font-size: 0.8rem;
    line-height: 15px;
    letter-spacing: 0.84px;
    color: white;
}

.about-company_text { 
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: white;
}

.about_logo {
    padding-bottom: 16px;
    padding-top: 19px;
    position: relative;
    z-index: 1;
}

ul li {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.84px;
    color: white;

}

.links_text {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.84px;
    color: white;
    padding-top: 42px;
    padding-bottom: 10px;
}

.links_faq {
    padding-top: 67px;
}

.links_blog {
    padding-top: 67px;
}

.contact_text {
    font-size: 0.8rem;
    line-height: 16px;
    letter-spacing: 0.84px;
    color: white;

}

.container_social {
    display: flex;
    padding-top: 72px;
}

.contact_text-tel {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social_twitter {
    margin-left: 24px;
    margin-right: 24px;
    filter: sepia(100%);
}

.social_facebook,
.social_googl {
    filter: sepia(100%);
}

.footer_bottom {
     background-color: #171819;
     text-align: center;
     position: relative;
}

.footer_bottom::after {
    background-color:rgba(0, 0, 0, .3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom {
     padding-top: 22px;
     padding-bottom: 22px;
}

.bottom_text {  
    font-size: 0.8rem;
    line-height: 15px;
    letter-spacing: 0.84px;
    color: white;
}











